<!DOCTYPE html>
<html>
<head>
	<title>Modif de page </title>

	<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<style type="text/css">
.table{
   width: 95%;
   height: 80%;
   margin-left: 20px;
}
.id{
	color: red;
}
</style>
<body>
<div class="table">
<table class="table table-striped table-bordered">
	<tr>
		<th>ID</th>
		<th>A vos enfants</th>
		<th>Vos amis</th>
		<th>Date naiss.</th>
		<th>Selon vous, quelle raison principale empêche des pratiquants occasionnels de donner au Denier?(merci d'en retenir une seule)</th>
		<th>Quels mots-clés vous semblent les plus pertinents et évocateurs pour inciter ceux qui ne donnent pas au Denier </th>
	</tr>  

	   {% for quest in lists %}
	<tr>
		<td class="id">
		
			{{ quest.id }}  
		</td>
		<td>
			{{ quest.enfants }}
		</td>
		<td>
			{{ quest.amis }}  
		</td>
		<td>
			{{ quest.annee|date('d/m/Y') }}  
		</td>
		<td>
			{{ quest.raison }} 
		</td>
		<td>
			 {% for quests in quest.inciter %}
          <ul><li> {{ quests}} </li></ul> 
      {% endfor %}</td>
       <td>
       
       <a class="btn btn-info" href="{{path('object_edit', {'id':quest.id})}}">Edit Object</a>
       <a class="btn btn-danger" href="{{path('object_delete', {'id':quest.id})}}">Delete Object</a>
       </td>
		
	</tr>
	{% endfor %}
</table>
</div>
</body>
</html>